<div class="product-card text-center p-3 rounded card mb-5">
  <img
    [src]="product.thumbnail"
    alt="{{ product.title }}"
    class="card-img-top  mx-auto"
    style="width: 100px;"
  />
  <div class="card-body">
      <span
        class="d-block"
        [ngClass]="product.stock === 0 ? 'out-of-stock' : 'in-stock'"
      >
    {{ product.stock === 0 ? "Out of Stock" : "In Stock" }}
  </span>
    <h2 class="card-title" [routerLink]="['/product', product.id]">
      {{ product.title }}
    </h2>

    <p class=" card-text">Category: {{ product.category }}</p>
    <p class=" card-text">Brand: {{ product.brand }}</p>
    <p class="price card-text">{{ product.price | currency : "EGP" }}</p>
    <button class="btn btn-primary mx-2" (click)="onAddToCartClick()">Add to cart</button>
    <a class="btn btn-success" [routerLink]="['/product', product.id]"
    >See Details</a
    >
  </div>

</div>
