.product-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product-card h2 {
  font-size: 18px;
}

.product-card p {
  font-size: 14px;
  color: #777;
}

.product-card p.price {
  font-weight: bold;
  color: #333;
}

.out-of-stock {
  color: red;
  font-weight: bold;
}

.in-stock {
  color: green;
  font-weight: bold;
}
