.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.cart {
  color: #cccccc;
}

/*.active-link {*/
/*  color: orange;*/
/*  background-color: red;*/
/*}*/

.active-link {
  font-weight: bold;
  background-color: #007bff;
}
